<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <form onsubmit="event.preventDefault()" class="box">
                  <h1>Login</h1>
                  <p class="text-muted"> Por favor, introduce tu usuario y contraseña!</p>
                  <input [(ngModel)]="Usuario.Usuario" placeholder="Usuario" type="text" class="form-control">
                  <input [(ngModel)]="Usuario.password" placeholder="password" type= "Password"class="form-control" placeholder="Password">
                  <a class="forgot text-muted" href="#">¿Se te olvidó tu contraseña?</a>
                  <input type="submit" (click)="Login()" name="" value="Ingresar">

              </form>
          </div>
      </div>
  </div>
</div>



<!-- <div class="container">
  <div class="row">
      <div class="col-md-offset-5 col-md-3 mx-auto">
          <div class="form-login">
          <h4>Inicio secion</h4>
          <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input [(ngModel)]="Usuario.Usuario" placeholder="Usuario" type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input [(ngModel)]="Usuario.password" placeholder="password" type= "Password"class="form-control input-sm chat-input" placeholder="Password">
          </div>
          <div class="wrapper">
          <span class="group-btn">
            <button class="btn btn-primary btn-md" (click)="Login()" ><i class="fa fa-sign-in"></i> Ingresar</button>
          </span>
          </div>
          </div>
      </div>
  </div>
</div> -->





