<div class="container">
  <table class="table table table-striped table-hover caption-top">
    <caption>Lista de usuarios</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Usuario</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listaUsuario">
        <th>{{usuario.Id_Usuario}}</th>
        <td>{{usuario.Nombre_Usuario}}</td>
        <td>{{usuario.Apellido_Usuario}}</td>
        <td>{{usuario.Usuario}}</td>
        <td>{{usuario.Celular}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <button (click)="modificarUsuario(usuario.Id_Usuario!)" type="button" ><i class="bi bi-pencil-fill" style=" color: rgb(28, 28, 29);" ></i></button>
        </td>
        <td>
          <button (click)="eliminarUsuario(usuario.Id_Usuario!)" type="button" ><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" routerLink="/nuevoUsuario" class="btn btn-dark">Nuevo Usurio</button>
</div>
