<h1 mat-dialog-title>Formulario inmueble</h1>
<div mat-dialog-content>
    <mat-accordion class="example-headers-align" [formGroup]="formInmueble">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Información del Inmueble</mat-panel-title>
          <mat-panel-description> Datos basicos
            <mat-icon>person_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Manzana de ubicacion" formControlName="manzana">
            <mat-error *ngIf="formInmueble.controls['manzana'].hasError('required')">
              Manzana es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput type="number" mask="dot_separator" placeholder="Numero de casa" formControlName="casa">
            <mat-error *ngIf="formInmueble.controls['casa'].hasError('required')">
              Numero casa es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input prefix="$" mask="separator" thousandSeparator="." matInput  type="text" placeholder="Valor neto" formControlName="Valor_Inicial" (blur)="onValueChange()">
            <mat-error *ngIf="formInmueble.controls['Valor_Inicial'].hasError('required')">
              Valor neto es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input prefix="$" mask="separator" thousandSeparator="." matInput placeholder="Valor Final" formControlName="Valor_Final">
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <mat-label>Proyecto al que pertenecé</mat-label>
            <mat-select formControlName="idproyecto" (selectionChange)="onSelect($event)">
              <mat-option *ngFor="let proyect of DataProyectos" [value]="proyect.id">
                {{proyect.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formInmueble.controls['idproyecto'].hasError('required')">
              Proyecto es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Etapa del Proyecto</mat-label>
            <mat-select formControlName="idetapa">
              <mat-option *ngFor="let etapa of DataEtapas" [value]="etapa.id">
                {{etapa.numero}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formInmueble.controls['idetapa'].hasError('required')">
              Etapa es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Estado del Inmueble</mat-label>
            <mat-select formControlName="estado">
              <mat-option value="Lote">Lote</mat-option>
              <mat-option value="En Venta">En Venta</mat-option>
              <mat-option value="Vendido">Vendido</mat-option>
              <mat-option value="Pagado">Pagado</mat-option>
            </mat-select>
            <mat-error *ngIf="formInmueble.controls['estado'].hasError('required')">
              Etapa es obligatorio
            </mat-error>
          </mat-form-field>
        </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Documentación </mat-panel-title>
          <mat-panel-description> Documentos del Inmueble
            <mat-icon>badge</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Ficha Catastral Numero" formControlName="catastral">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Escritura Numero" formControlName="escritura">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Matricula Inmobiliaria" formControlName="matricula">
          </mat-form-field>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <table style="text-align:center;" class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="false" style="margin-right: 10px" > Cancelar </button>

        </td>
        <td>
          <button (click)="SaveInmueble()" mat-raised-button color="primary" [disabled]="formInmueble.invalid" [mat-dialog-close]="true"> Guardar
          </button>
        </td>
      </tr>
    </table>
    <!-- <pre>
    {{formInmueble.value|json}}
  </pre> -->
