<div class="container" >
    <p>lISTA DE EQUIPOS!</p>

    <button routerLink="/nuevoUsuario" type="button" class="btn btn-dark">Agregar </button>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Apellido Usuario</th>
            <th scope="col">Usuario</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of ListarUsuario">
            <td>{{usuario.Nombre_Usuario}}</td>
            <td>{{usuario.Apellido_Usuario}}</td>
            <td>{{usuario.Usuario}}</td>
            <td>{{usuario.Celular}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.Fk_Id_Rol}}</td>
            <td>{{usuario.Fk_Id_Area}}</td>
            <td> </td>
            <td>
                <button  type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button  type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

</div>