<h1 mat-dialog-title>Formulario cliente</h1>
<div mat-dialog-content>
    <mat-accordion class="example-headers-align" [formGroup]="formCliente">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <mat-expansion-panel-header>
              <mat-panel-title> Información Personal </mat-panel-title>
              <mat-panel-description> Datos basicos
                  <mat-icon>person_outline</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" >
            <mat-form-field>
              <input matInput placeholder="Cedula" formControlName="identificacion" #identificacion pattern="[1-9]\d{6,10}">
              <mat-error *ngIf="formCliente.controls['identificacion'].hasError('pattern')&& !formCliente.controls['identificacion'].hasError('required')">
                Por favor, introduce solo numeros
              </mat-error>
              <mat-error *ngIf="formCliente.controls['identificacion'].hasError('required')">
                Identificación es obligatoria
              </mat-error>
             </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nombres"formControlName="nombres">
              <mat-error *ngIf="formCliente.controls['nombres'].hasError('required')">
                Nombres es obligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Apellidos" formControlName="apellidos">
              <mat-error *ngIf="formCliente.controls['apellidos'].hasError('required')">
                Apellidos es obligatorio
              </mat-error>
             </mat-form-field>
          </div>
          <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
              <mat-panel-title> Información contácto </mat-panel-title>
              <mat-panel-description> Medio para entablar comunicación o contacto
                  <mat-icon>contact_mail</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" >
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="correo">
              <mat-error *ngIf="formCliente.controls['correo'].hasError('email')">
                Por favor, introduce una dirección de correo electrónico válida
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Telefono" formControlName="telefono" mask="(000) 000 00 00">
              <mat-error *ngIf="formCliente.controls['telefono'].hasError('required')">
                Telefono es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput placeholder="Dirección" formControlName="direccion">
            <mat-error *ngIf="formCliente.controls['direccion'].hasError('required')">
              dirección es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
          </mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>
</div>
<div style="text-align: center;">
  <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="false"
    style="margin-right: 10px">Cancelar </button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="SaveCliente()" [disabled]="formCliente.invalid"
    [mat-dialog-close]="true">Guardar</button>
</div>
 <!--  <pre>
    {{formCliente.value|json}}
  </pre> -->
