<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <alert></alert>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-800' : 'text-white'">
          {{(idOption==1)?'Lista de Archivos':(idOption==2)?'Agregar Nuevo Archivo':''}}
        </h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1" *ngIf="idOption==1">
        <button
          class="bg-Blue-600 text-white active:bg-Blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="changeMode(2)">
          <i class="fas fa-file-upload mr-2 text-sm"></i>
          Nuevo Archivo
        </button>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1" *ngIf="idOption==1">
        <form class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3">
          <div class="relative flex w-full flex-wrap items-stretch">
            <span
              class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"><i
                class="fas fa-search"></i></span>
            <input type="text" placeholder="Buscar cliente aquí..." (keyup)="getItems($event)"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- List Files -->
    <div class="items-center" *ngIf="idOption==1">
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
              Nombre
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
              Ruta
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
              Fecha Creación
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
              Fecha Modificación
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Ufiles">
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
              <b>{{item.nombre}}</b>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
              {{item.ruta}}
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
              {{item.fechaCreacion | date: 'dd MMM hh:mm'}}
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
              {{item.fechaModificacion | date: 'dd MMM hh:mm'}}
            </td>

            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
              <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                  <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
                    <button (click)="RemoveFile(item.id)"
                      class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                      type="button">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    <a
                    class="text-emerald-500 bg-transparent border border-solid border-emerald-500 hover:bg-emerald-500 hover:text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" [href]="serverPath+item.ruta" [download]="item.nombre" target="_blank"  >
                    <i class="fas fa-search-plus"></i>
                  </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- New File -->
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0" *ngIf="idOption==2">

      <hr class="mt-6 border-b-1 border-blueGray-300" />
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <form class="border-b-1">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Por favor seleccione un archivo para cargar
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">

                  <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <label
                      class="w-64 flex flex-col items-center px-4 py-6 bg-white rounded-md shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-purple-600 hover:text-white text-purple-600 ease-linear transition-all duration-150">
                      <i class="fas fa-cloud-upload-alt fa-3x"></i>
                      <input (change)="fileChange($event)"  type="file"  class="hidden"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                    </label>
                  </form>
                  <br>
                  <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" >
                    {{TextFileInout}}
                  </label>
              </div>
            </div>

          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </form>

        <hr class="mt-6 border-b-1 border-blueGray-300" />
        <div class="mt-6 flex flex-wrap items-center">
          <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
            <button
              class="bg-Blue-600 text-white active:bg-Blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="SaveFile()">
              <i class="fas fa-file-upload mr-2 text-sm"></i>
              Guardar Archivo
            </button>
          </div>
          <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
            <button
              class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="changeMode(1)">
              <i class="fas fa-ban mr-2 text-sm"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
