<h1 mat-dialog-title>Nuevo costo</h1>
<div mat-dialog-content>
  <form [formGroup]="formCosto">
    <mat-form-field>
      <input matInput placeholder="Concepto del costo" formControlName="concepto" (keyup)="filter($event)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="clickseltec($event)" >
        <mat-option *ngFor="let item of ListaCostos" [value]="item.concepto" [id]="item">
          {{item.concepto}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="formCosto.controls['concepto'].hasError('required')">
        Concepto es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput mask="separator" thousandSeparator="." placeholder="Valor del costo" formControlName="valor" >
      <mat-error *ngIf="formCosto.controls['valor'].hasError('required')">
        Valor es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha del costo</mat-label>
      <input matInput placeholder="DD/MM/YYYY"  [matDatepicker]="picker" (dateChange)="dateChange($event.value)" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formCosto.controls['fecha'].hasError('required')">
        Fecha es obligatorio
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div style="text-align: center;">
  <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="false"
    style="margin-right: 10px">Cancelar </button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="SaveCosto()"
    [mat-dialog-close]="true">Guardar</button>
</div>
<!-- <pre>
  {{formCosto.value|json}}
</pre> -->
