<h1 mat-dialog-title>Formulario adicional</h1>
<div mat-dialog-content>
  <form [formGroup]="formAdicional">
    <mat-form-field>
      <textarea  matInput placeholder="Concepto" formControlName="concepto"></textarea>
      <mat-error *ngIf="formAdicional.controls['concepto'].hasError('required')">
        Concepto es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea  matInput placeholder="Descripción" formControlName="descripcion"></textarea>
      <mat-error *ngIf="formAdicional.controls['descripcion'].hasError('required')">
        Descripción es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="picker" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Seleccione una fecha del egreso">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formAdicional.controls['fecha'].hasError('required')">
        Fecha es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Valor" prefix="$" mask="separator" thousandSeparator="." formControlName="valor">
      <mat-error *ngIf="formAdicional.controls['valor'].hasError('required')">
        Valor es obligatorio
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div style="text-align: center;">
  <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="false"
    style="margin-right: 10px">Cancelar </button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="SaveAdicional()" [disabled]="formAdicional.invalid"
    [mat-dialog-close]="true">Guardar</button>
</div>
<!-- <pre>{{formAdicional.value|json}}</pre> -->
