
      <table class="example-full-width" style="text-align:center;" cellspacing="5">
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="applyFilter($event)" matTooltip="Buscar en la lista de Proyectos"
                placeholder="Cualquier palabra clave" #input>
            </mat-form-field>
          </td>
          <td>
            <button mat-raised-button color="primary" matTooltip="Registrar nuevo inmueble" (click)="OpenAdd()"> Nuevo
            </button>
          </td>
        </tr>
      </table>
      <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length" matSort>
        <ng-container matColumnDef="Manzana">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Manzana </th>
          <td mat-cell *matCellDef="let item"> {{item.Manzana}} </td>
        </ng-container>
        <ng-container matColumnDef="Casa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Casa </th>
          <td mat-cell *matCellDef="let item"> {{item.Casa}} </td>
        </ng-container>
        <ng-container matColumnDef="etapa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Etapa </th>
          <td mat-cell *matCellDef="let item"> {{item.etapa}} </td>
        </ng-container>
        <ng-container matColumnDef="proyecto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Proyecto </th>
          <td mat-cell *matCellDef="let item"> {{item.proyecto}} </td>
        </ng-container>
        <ng-container matColumnDef="Valor_Final">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Venta </th>
          <td mat-cell *matCellDef="let item"> {{item.Valor_Final}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let item"> {{item.estado}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button [matMenuTriggerFor]="menu4" matTooltip="Acciones del Usuario">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu4="matMenu">
              <button mat-menu-item (click)="OpenDetalle(item.id)">
                <mat-icon>launch</mat-icon>
                <span>Detalle</span>
              </button>
              <button mat-menu-item (click)="OpenEdit(item.id)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item color="warn" (click)="RemoveInmueble(item)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
        </tr>
      </table>
      <div *ngIf="!dataSource.data.length">
        <mat-card>
          <mat-card-title>Sin datos para mostar en Cartera</mat-card-title>
        </mat-card>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
