<mat-card>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="USUARIOS">
      <app-users></app-users>
    </mat-tab>
    <mat-tab label="AREAS - ROLES">
      <div fxLayout="row wrap">
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
          <app-area></app-area>
        </div>
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
          <app-rol></app-rol>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>



