<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">MCG construcciones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"routerLink="inicio" routerLinkActive="active">Inicio</a>
        <a class="nav-link"routerLink="privado" routerLinkActive="active">Privado</a>
        <a class="nav-link"routerLink="nuevo usuario" routerLinkActive="active">Usuario Nuevo</a>
        <a class="nav-link"routerLink="admin" routerLinkActive="active">Admin</a>
        <a class="nav-link"routerLink="login" routerLinkActive="active">Login</a>
        <a class="nav-link"routerLink="usuarios" routerLinkActive="active">Lista de Usuarios</a>
      </div>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

