<h1 mat-dialog-title>Nuevo proyecto</h1>
<div mat-dialog-content>
          <form [formGroup]="formProyecto">
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" >
                  <mat-form-field>
                    <input matInput placeholder="Nombre del Proyecto" formControlName="nombre">
                    <mat-error *ngIf="formProyecto.controls['nombre'].hasError('required')">
                      Nombre es obligatorio
                    </mat-error>
                  </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Estado del proyecto</mat-label>
                      <mat-select formControlName="estado">
                      <mat-option value="En Venta">En Venta</mat-option>
                      <mat-option value="Vendido">Vendido</mat-option>
                      </mat-select>
                      <mat-error *ngIf="formProyecto.controls['estado'].hasError('required')">
                        Estado es obligatorio
                      </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field>
                  <input matInput placeholder="Ubicación  del proyecto" formControlName="ubicacion">
                  <mat-error *ngIf="formProyecto.controls['ubicacion'].hasError('required')">
                    Ubicación es obligatorio
                  </mat-error>
                </mat-form-field>
          </form>
    </div>
    <div style="text-align: center;">
      <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="false"
        style="margin-right: 10px">Cancelar </button>
      <button mat-raised-button color="primary" cdkFocusInitial (click)="SaveProyecto()" [mat-dialog-close]="true" [disabled]="formProyecto.invalid"
        [mat-dialog-close]="true">Guardar</button>
    </div>
    <!--
  <table style="text-align:center;" class="example-full-width" cellspacing="5">
    <tr>
      <td>
        <button mat-raised-button color="warn" [ (click)="close()" [mat-dialog-close]="false" style="margin-right: 10px"> Cancelar </button>

      </td>
      <td>
        <button mat-raised-button color="primary" (click)="SaveProyecto()" [mat-dialog-close]="true"  [disabled]="formProyecto.invalid"> Guardar </button>
      </td>
    </tr>
  </table> -->

