<div class="container">
  <div class="row">
      <div class="col-md-offset-5 col-md-3 mx-auto">
          <div class="form-login">
          <h4>Inicio secion</h4>
          <input [(ngModel)]="Usuario.Usuario" placeholder="Usuario" type="email" class="form-control input-sm chat-input">
          <input [(ngModel)]="Usuario.password" placeholder="password" type= "password"class="form-control input-sm chat-input">
          <div class="wrapper">
          <span class="group-btn">
            <button class="btn btn-primary btn-md" (click)="Login()" ><i class="fa fa-sign-in"></i>Ingresar</button>
          </span>
          </div>
          </div>
      </div>
  </div>
</div>





