<h1 mat-dialog-title>Formulario acreedor</h1>
<div mat-dialog-content>
  <form [formGroup]="formAcreedor">
    <mat-accordion class="example-headers-align" >
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <mat-expansion-panel-header>
              <mat-panel-title> Datos basicos </mat-panel-title>
              <mat-panel-description>Información Personal
                  <mat-icon>person_outline</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" >
            <mat-form-field>
              <input matInput placeholder="Cedula" formControlName="identificacion"> </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nombres"formControlName="nombres" > </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Apellidos" formControlName="apellidos"> </mat-form-field>
          </div>
          <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
              <mat-panel-title> Descripción </mat-panel-title>
              <mat-panel-description> Características  relevantes
                  <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Acreedor</mat-label>
            <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
          </mat-form-field>
          <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Anterior</button>
              <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
          <mat-expansion-panel-header>
              <mat-panel-title> Contacto </mat-panel-title>
              <mat-panel-description> Medio de comunicación
                  <mat-icon>contact_mail</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" >
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="correo"> </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Telefono" mask="(000) 000 00 00" formControlName="telefono"> </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput placeholder="Dirección" formControlName="direccion"> </mat-form-field>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>
  <table style="text-align:center;"*ngIf="acreedorid">
    <tr>
      <td>
        <span >Fecha de Creacion: {{formAcreedor.value.registrado| date: 'dd MMM yy hh:mm:ss'}}</span>
      </td>
      <td>
        <span >fecha de modificación: {{formAcreedor.value.modificado| date: 'dd MMM yy hh:mm:ss'}}</span>
      </td>
    </tr>
  </table>
  <div style="text-align: center;">
    <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="false" style="margin-right: 10px" >Cancelar </button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="SaveAcreedor()" [disabled]="formAcreedor.invalid" [mat-dialog-close]="true">Guardar</button>
  </div>
  <!-- <pre>
    {{formAcreedor.value|json}}
  </pre> -->
