.body {
  display:flex;
  justify-content: center;
  height:100%;
  align-items: center;
  background-color: #ffffff;
  flex: 1;
}
.login{
  width: 100%;
  max-width: 350px;
  text-align: center;
}
.ancho
{
  width: 80%;
}
.boton{
  height: 50px
}
.spinner{
  margin: 0 auto;
}
.mat-card
{
  background:#e6e8ff;
}
