<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <form >
            <legend class="text-center header">REGISTRAR ROL</legend>
            <div class="form-group">
              <i class="fa fa-id-card icon"></i><label class="form-label">Nombre rol</label>
              <input type="text" [(ngModel)]="rol.Nombre_Rol" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
              <i class="fa fa-commenting icon"></i><label >Descripción</label>
              <textarea type="text" [(ngModel)]="rol.Descripcion"  row=3 name="nombre" class="form-control" required></textarea>
            </div>
            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-dark btn-md" (click)="newrol()" ><i class="fa fa-user-plus icon"></i>Registrar Rol</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

