<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="flex w-full flex-wrap">
    <div class="w-full">
      <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(1)" [ngClass]="{'text-lightBlue-600 bg-white': openTab !== 1, 'text-white bg-lightBlue-600': openTab === 1}">
  <i class="fas fa-users text-base mr-1"></i> Usuarios
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(2)" [ngClass]="{'text-lightBlue-600 bg-white': openTab !== 2, 'text-white bg-lightBlue-600': openTab === 2}">
  <i class="fas fa-cog text-base mr-1"></i> Roles
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(3)" [ngClass]="{'text-lightBlue-600 bg-white': openTab !== 3, 'text-white bg-lightBlue-600': openTab === 3}">
      <i class="fas fa-briefcase text-base mr-1"></i> Areas
          </a>
        </li>
      </ul>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="px-4 py-5 flex-auto">
          <div class="tab-content tab-space">
            <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
              <app-card-user-list></app-card-user-list>
            </div>
            <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
              <app-card-rol-list></app-card-rol-list>
            </div>
            <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
              <app-card-area-list></app-card-area-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
