<mat-card>
  <mat-card-content>
      <mat-card-title>Rol</mat-card-title>
      <mat-card-subtitle>{{(idOption==1)?'Lista de Roles':(idOption==2)?'Agregar Nuevo Rol':'Editar Rol'}}</mat-card-subtitle>
      <ng-container *ngIf="idOption==1 && dataSource.data.length>=1">
          <div class="mat-elevation-z8">
            <table class="example-full-width" style="text-align:center;" cellspacing="15">
              <tr>
                <td>
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" matTooltip="Buscar en la lista de roles" placeholder="Cualquier palabra" #input>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-raised-button color="primary" (click)="changeMode(2)" matTooltip="Registrar nuevo rol"> Nuevo </button>
                </td>
              </tr>
            </table>
          <table mat-table [dataSource]="dataSource"  matSort >
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
              <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
              <td mat-cell *matCellDef="let item"> {{item.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef> Acción</th>
              <td mat-cell *matCellDef="let item">
                <button mat-icon-button [matMenuTriggerFor]="menu4" matTooltip="Acciones del rol">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu4="matMenu">
                  <button mat-menu-item (click)="QueryOneRol(item)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item color="warn" (click)="RemoveRol(item)">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
    </ng-container>
    <div  *ngIf="dataSource.data.length===0">
      <h3>Sin datos para mostar</h3>
    </div>
  <ng-container *ngIf="idOption===2">
    <form  [formGroup]="formRol" (ngSubmit)="SaveRol()">
      <mat-form-field>
        <input matInput placeholder="Nombre Rol" formControlName="nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descripción del rol" formControlName="descripcion">
      </mat-form-field>
      <table style="text-align:center;" class="example-full-width" cellspacing="15">
        <tr>
          <td>
            <button type="submit"  mat-raised-button color="primary" matTooltip="Registrar nuevo rol"> Guardar </button>
          </td>
          <td>
            <button mat-raised-button color="warn" (click)="changeMode(1)" matTooltip="Volver a roles"> Cancelar </button>
          </td>
        </tr>
      </table>
    </form>
  </ng-container>
  <ng-container *ngIf="idOption==3">
    <form  [formGroup]="formRol" (ngSubmit)="UpdateRol()">
      <mat-form-field>
        <input matInput placeholder="Nombre Rol" formControlName="nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descripción del rol" formControlName="descripcion">
      </mat-form-field>
      <table style="text-align:center;" class="example-full-width" cellspacing="15">
        <tr>
          <td>
            <button type="submit" mat-raised-button color="primary"> Guardar </button>
          </td>
          <td>
            <button mat-raised-button color="warn" (click)="changeMode(1)"> Cancelar </button>
          </td>
        </tr>
      </table>
    </form>

  </ng-container>

  </mat-card-content>
</mat-card>
