<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <alert></alert>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-800' : 'text-white'">
          {{(idOption==1)?'Lista de Proyectos':(idOption==2)?'Agregar Nuevo Proyecto':'PROYECTO'}}
        </h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1" *ngIf="idOption==1">
        <button
          class="bg-Blue-600 text-white active:bg-Blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="changeMode(2)">
          <i class="fas fa-briefcase mr-2 text-sm"></i>
          Nuevo Proyecto
        </button>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1" *ngIf="idOption==1">
        <form class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3">
          <div class="relative flex w-full flex-wrap items-stretch">
            <span
              class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"><i
                class="fas fa-search"></i></span>
            <input type="text" placeholder="Buscar Proyectos aquí..."
              (keyup)="getItems($event)"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- List Proyectos -->
    <table class="items-center w-full bg-transparent border-collapse" *ngIf="idOption==1">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            Id
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            Proyecto
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            Ubicación
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            Etapas
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            Estado
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of proyects">
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <b>{{item.id}}</b>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{item.nombre}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{item.ubicacion}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{item.etapas}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{item.estado}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
            <button (click)="QueryOneProyecto(item.id)"
            class="text-amber-500 bg-transparent border border-solid border-amber-500 hover:bg-amber-500 hover:text-white active:bg-amber-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="changeMode(3)">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="RemoveProyecto(item.id)"
              class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="changeMode(1)">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button
              class="text-emerald-500 bg-transparent border border-solid border-emerald-500 hover:bg-emerald-500 hover:text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" >
              <i class="fas fa-search-plus"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <!-- New Proyecto -->
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0" *ngIf="idOption==2">
      <form>
        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
          Información del Proyecto
        </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-9/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Nombre del Proyecto
              </label>
              <input type="text" [(ngModel)]="Proyecto.nombre" [ngModelOptions]="{standalone: true}"
              placeholder="Ejem. Proyecto..."
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="" />
            </div>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Estado
              </label>
              <select [(ngModel)]="Proyecto.estado" [ngModelOptions]="{standalone: true}"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="En Venta">En Venta</option>
                  <option value="Vendido">Vendido</option>
                </select>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Ubicación
              </label>
              <input type="text" [(ngModel)]="Proyecto.ubicacion" [ngModelOptions]="{standalone: true}"
                placeholder="Ubicación del proyecto"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="" />
            </div>
          </div>
        </div>
        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
          Información Etapa inicial del Proyecto
        </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Nombre Etapa
              </label>
                <select [(ngModel)]="Proyecto.num_etapa" [ngModelOptions]="{standalone: true}"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <option value="" disabled selected>Seleccione una etapa</option>
                  <option value="Unica">Unica</option>
                  <option value="Primera">Primera</option>
                </select>
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                N° Manzanas
              </label>
              <input type="number" [(ngModel)]="Proyecto.manzanas" [ngModelOptions]="{standalone: true}"
                placeholder="Ubicación del proyecto"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="" />
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Estado Etapa
              </label>
              <select [(ngModel)]="Proyecto.estado_etapa" [ngModelOptions]="{standalone: true}"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="Proyectada">Proyectada</option>
                  <option value="En Ejecución">En Ejecución</option>
                  <option value="Finalizada">Finalizada</option>
                </select>
            </div>
          </div>
        </div>
      </form>
      <hr class="mt-6 border-b-1 border-blueGray-300" />
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
            <button
              class="bg-Blue-600 text-white active:bg-Blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="SaveProyecto()">
              <i class="fas fa-briefcase mr-2 text-sm"></i>
              Crear nuevo Proyecto
            </button>
          </div>
          <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
            <button
              class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="changeMode(1)">
              <i class="fas fa-ban mr-2 text-sm"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edtitar Proyecto -->
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0" *ngIf="idOption==3">
      <form>
        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
          Información del Proyecto
        </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-9/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Nombre del Proyecto
              </label>
              <input type="text" [(ngModel)]="Proyecto.nombre" [ngModelOptions]="{standalone: true}"
              placeholder="Ejem. Proyecto..."
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="" />
            </div>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Estado
              </label>
              <select [(ngModel)]="Proyecto.estado" [ngModelOptions]="{standalone: true}"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="En Venta">En Venta</option>
                  <option value="Vendido">Vendido</option>
                </select>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                Ubicación
              </label>
              <input type="text" [(ngModel)]="Proyecto.ubicacion" [ngModelOptions]="{standalone: true}"
                placeholder="Ubicación del proyecto"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="" />
            </div>
          </div>
        </div>
      </form>
      <hr class="mt-6 border-b-1 border-blueGray-300" />
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
            <button
              class="bg-Blue-600 text-white active:bg-Blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="UpdateProyecto()">
              <i class="fas fa-briefcase mr-2 text-sm"></i>
              Editar Proyecto
            </button>
          </div>
          <div class="relative w-full px-6 max-w-full flex-grow flex-1 items-center">
            <button
              class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="changeMode(1)">
              <i class="fas fa-ban mr-2 text-sm"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
      <hr class="mt-6 border-b-1 border-blueGray-300" />
      <div class="w-full mb-12 px-4">
        <app-card-etapa-list [proyecto]="Proyecto.id"></app-card-etapa-list>
        <hr class="mt-6 border-b-1 border-blueGray-300" />
        <app-card-inmuebles-list [proyectoid]="Proyecto.id"></app-card-inmuebles-list>
      </div>
      <hr class="mt-6 border-b-1 border-blueGray-300" />
    </div>
  </div>
</div>
<!--
<pre>
  {{Proyecto|json}}
</pre> -->
