<header id="main-header" class="py-2 text-white headerSti">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-user"></i> REGISTRO DE USUARIOS
        </h1>
      </div>
    </div>
  </div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header headerLogi">REGISTRAR USUARIO

          </div>
          <div class="card-body">
            <form >
              <div class="form-group">
                <label class="form-label">Nombres</label>
                <input type="text" [(ngModel)]="usuario.Nombre_Usuario" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label >Apellidos</label>
                <input type="text" input [(ngModel)]="usuario.Apellido_Usuario" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" [(ngModel)]="usuario.Usuario" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" input [(ngModel)]="usuario.password" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Celular</label>
                <input type="text" [(ngModel)]="usuario.Celular" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label >email</label>
                <input type="text" input [(ngModel)]="usuario.email" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Rol</label>
                <input type="text" [(ngModel)]="usuario.Rol" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Area</label>
                <input type="text" input [(ngModel)]="usuario.Area" name="nombre" class="form-control" required>
              </div>
              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary btn-md" (click)="newuser()" ><i class="fa fa-sign-in"></i>Registrar Usuario</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

