.headerSti{
  background: rgb(162, 159, 228);
}

.headerLogi{
  background: rgb(162, 159, 228);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;

}


.boton{
  background: rgb(100, 95, 196);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;

}
