<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <form >
            <legend class="text-center header">MODIFICAR PROYECTO</legend>
            <div class="form-group">
              <i class="fa fa-id-card icon"></i><label class="form-label">Nombre proyecto</label>
              <input type="text" [(ngModel)]="proyecto.Nombre_Proyecto" name="Nombre_Proyecto" class="form-control" required>
            </div>
            <div class="form-group">
              <i class="fa fa-globe icon"></i><label >Ubicación</label>
              <textarea type="text" [(ngModel)]="proyecto.Ubicacion_Proyecto"  row=3 name="Ubicacion_Proyecto" class="form-control" required></textarea>
            </div>
            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-dark btn-md" (click)="editProyecto()" ><i class="fa fa-user-plus icon"></i>Modificar Proyecto</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

